################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DungeonMastersArchive/.vs/DungeonMastersArchive
/DungeonMastersArchive/DungeonMastersArchiveWeb/obj
/DungeonMastersArchive/DungeonMastersArchiveWeb/appsettings.json
/DungeonMastersArchive/DungeonMasterArchiveData/bin/Debug/net8.0
/DungeonMastersArchive/DungeonMasterArchiveData/obj
/DungeonMastersArchive/obj
/DungeonMastersArchive/DungeonMastersArchiveWeb/anteckningar.txt
/DungeonMastersArchive/.vs/ProjectEvaluation
/DungeonMastersArchive/DungeonMastersArchiveWeb/bin/Debug/net8.0
/DungeonMastersArchive/DungeonMastersArchive/appsettings.json
/DungeonMastersArchive/DungeonMastersArchive/bin/Debug/net8.0
/DungeonMastersArchive/DungeonMastersArchive/obj
*.user
/DungeonMastersArchive/DungeonMastersArchive/anteckningar.txt
