################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DungeonMastersArchive/.vs/DungeonMastersArchive
/DungeonMastersArchive/DungeonMastersArchiveWeb/obj
/DungeonMastersArchive/DungeonMastersArchiveWeb/appsettings.json
