@using DungeonMastersArchive.Models.Article
@using DungeonMastersArchive.Services

@inject IArticleService ArticleService
@inject IUserService UserService


@if (_model != null && _user != null)
{
    <MudStack>
        <MudText Typo="Typo.h6" GutterBottom="true">Relaterat</MudText>
        <MudStack Row="true">
            @foreach (var linkGroup in _model.Keys)
            {
                <div>
                    <b>@linkGroup</b>
                    <ul>
                        @foreach (var link in _model[linkGroup])
                        {
                            <li><MudLink Href="@($"/article/{link.ArticleId}")">@link.ArticleName</MudLink></li>
                        }
                    </ul>
                </div>
            }
        </MudStack>

    </MudStack>
}

@code {
    [Parameter]
    public int ArticleId { get; set; }

    private Models.User.User _user;
    private List<ArticleLink> _allLinks;
    private Dictionary<string, List<ArticleLink>> _model;

    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnParametersSetAsync()
    {
        _user = await UserService.GetCurrentUser();
        _model = await ArticleService.GetArticleLinks(ArticleId);
    }
}
