@page "/article/{id:int?}"
@using DungeonMastersArchive.Components.Article.Shared
@using DungeonMastersArchive.Models.Article
@using DungeonMastersArchive.Services

@inject IArticleService ArticleService
@inject IUserService UserService
@inject IImageService ImageService

@if (_model == null)
{

}
else
{
    // Karaktär
@*     @if (false && _model.ArticleTypeId == "1" || _model.ArticleTypeId == "2" || _model.ArticleTypeId == "6")
    {

    }
    else if (false && _model.ArticleTypeId == "4")
    {

    }
    else
    { *@
        <MudStack Row="true">
            <MudPaper Class="flex-grow-1 pa-6 ma-2" Elevation="3">
                <MudStack>
                    <h2>@_model.ArticleName</h2>
                    <ArticleImageCaruosel ArticleId="Id" />
                    <h3>Beskrivning</h3>
                    <MudText>
                        @_model.ArticleText
                    </MudText>
                    <LinksSection ArticleId="@Id" />


                </MudStack>
            </MudPaper>
            <MudPaper Class=" pa-6 ma-2" Elevation="3">
                <MudButtonGroup Vertical="true">


                </MudButtonGroup>
            </MudPaper>
        </MudStack>
    @* } *@

}



@code {
    [Parameter]
    public int Id { get; set; }

    private Models.Article.Article _model;
    private Models.User.User _user;



    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnParametersSetAsync()
    {
        _user = await UserService.GetCurrentUser();
        _model = await ArticleService.GetArticle(Id);
    }
}
